// index.scss

// Import Bootstrap
@import './node_modules/bootstrap/scss/bootstrap.scss';

// Color Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f3f4f6;
$text-color: #333;

// Base Styles
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

// Navbar Customization
.navbar {
    background-color: $primary-color;

    .navbar-brand, .nav-link {
        color: #fff;
        &:hover {
            color: #ffc107;
        }
    }
}

// Home Section
#home {
    padding: 50px;
    text-align: center;

    h1 {
        color: $primary-color;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}

// About Section
#about {
    padding: 50px;

    h1 {
        color: $secondary-color;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-top: 20px;
    }

    .about-highlight {
        color: $primary-color;
        font-weight: bold;
    }
}

// Responsive Adjustments
@media (max-width: 768px) {
    #home, #about {
        padding: 30px;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}
